
#student {

  & > h1 {
    text-align: center;
  }

  .github {
    img {
      @include filter(invert(1));
    }
  }


  .img-wrapper {
    margin: 0 auto;
    width: 25%;

    img {
      width: 100%;
    }
  }

  .edit_student {
    label {
      margin: 1em auto;
      display: block;
      width: 50%;
    }

    input, textarea, select {
      margin: 0 auto;
      width: 50%;
      display: block;
    }

    input[type=submit] {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
