
#student {

  & > h1 {
    text-align: center;
  }

  .github {
    img {
      @include filter(invert(1));
    }
  }


  .img-wrapper {
    @include span-columns(4);
    @include shift(4);

    img {
      width: 100%;
    }
  }

  .edit_student {
    .inner-wrapper {
      @include span-columns(4);
      @include shift(4);

      h3 {
        display: inline-block;
      }

      .uploader-wrapper {
        display: none;
      }

      .upload-label {
        display: inline-block;
        @include span-columns(5);
        margin-left: 1.4em;
        margin-top: 1em;

        .upload {
          @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/cloud-upload.svg));
          @include transition(all .5s ease-in-out);

          &:hover {
            @include filter(brightness(150%));
          }
        }

        .download {
          @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/cloud-download.svg));

        }

        .resume-added {
          @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/circle-check.svg));
          @include transition(all .5s ease-in-out);

          &:hover {
            @include filter(brightness(50%));
          }
        }
      }
    }
  }
}
