html, body {
  @include max-height;
  font-family: 'Lato';
}

h2 {
  width: 10px; //Reset h2 so it doesn't take up full width
}

#container {
  @include outer-container;
  @include max-height;
}
.flash {
  width: 30%;
  height: 3em;
  margin: 0 auto;
  font-size: 0.7em;
  padding: .7em 0;
  margin-top: 1em;
  text-align: center;

  &#error {
    border: 2px solid red;
    background-color: $error-background;
  }

  &#success{
    border: 2px solid $success-border;
    background-color: $success-background;
  }
}
