#cohort-board {
  height: 7rem;
  background: -webkit-linear-gradient($lighthouse-blue 93%, $white 99%);
  background: linear-gradient($lighthouse-blue 93%, $white 99%);

  .inner-container {
    @include outer-container;
  }
}
.menu {
  @include span-columns(3);
  margin-top: 2.5rem;
}
.logo {
  @include span-columns(4);
  @include shift(5);
}
