#cohort-board {
  height: 7rem;
  background: $lighthouse-blue;

  .inner-container {
    @include outer-container;
  }
}
.menu {
  margin-top: 2.5rem;
  margin-left: 2.297794117%;
  float: left;

  .menu-img {
    @include transition(all .3s ease-in-out);

    &:hover {
      @include filter(drop-shadow(-2px 1px 0px black) drop-shadow(0px 0px 10px $three-quarter-white));
      cursor: pointer;
    }
  }
}

.logo {
  float: right;

  @include media($mobile) {
    width: 278px;
    margin-top: .5rem;
  }

  img {
    @include size(400 102);
    @include transition(all .3s ease-in-out);
    @include hardware-accel;

    @include media($mobile) {
      width: 100%;
      height: auto;
      margin-top: .5rem;
    }

    &:hover {
      @include transform(scale(1.02));
      opacity: .8;
    }
  }
}
