#cohort-board {
  height: 7rem;
  @include background(linear-gradient($lighthouse-blue 93%, white 99%));

  .inner-container {
    @include outer-container;
  }
}
.menu {
  @include span-columns(3);
  margin-top: 2.5rem;

  img {
    @include transition(all .3s ease-in-out);

    &:hover {
      @include filter(drop-shadow(-2px 2px 0px black) drop-shadow(0px 0px 10px $threeQuarterWhite));
      cursor: pointer;
    }
  }
}
.logo {
  @include span-columns(4);
  @include shift(5);
  @include media($tablet) {
    background-color: blue;
  }

  img {
    @include filter(drop-shadow(0px 0px 10px $threeQuarterWhite));
    @include transition(all .3s ease-in-out);
    @include hardware-accel;

    &:hover {
      @include filter(drop-shadow(-1px 1px 0px black) drop-shadow(0px 0px 10px white));
    }
  }
}
