/*-------------------------MEDIA QUERIES--------------------------------*/

$mobile-sm: new-breakpoint(max-width 480px);
$mobile:  new-breakpoint(max-width 768px);
$tablet:  new-breakpoint(min-width 768px max-width 1024px);
$desktop: new-breakpoint(min-width 1024px);
$desktop-lg: new-breakpoint(min-width 1450px);

/* Colors
============ */
$three-quarter-white: rgba(255,255,255,0.7);
$lighthouse-blue: #012C3C;
$lighthouse-light-blue: #025d7e;
$error-background: rgba(255, 0, 0, 0.63);
$success-border: rgb(50, 206, 50);
$success-background: rgba(56, 229, 37, 0.59);
$light-grey: #888888;
