/*-------------------------MEDIA QUERIES--------------------------------*/

$mobile:  new-breakpoint(max-width 768px);
$tablet:  new-breakpoint(min-width 768px max-width 1024px);
$desktop: new-breakpoint(min-width 1024px);
$desktop-lg: new-breakpoint(min-width 1450px);

/* Colors
============ */
$threeQuarterWhite: rgba(255,255,255,0.7);
$lighthouse-blue: #012C3C;
$lighthouse-light-blue: #025d7e;
$pink : #ffa;
$pink-bg: #faa;
