html, body {
  @include max-height;

}

#container {
  @include outer-container;
  @include max-height;
}

#error-explination {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  color: red;

  li {
    list-style-type: none;
  }

  li:before {
    content: url(https://s3-us-west-2.amazonaws.com/lighthouselabs/circle-x.svg);
    right: 5px;
    bottom: 1px;
    position: relative;
  }
}

@import 'styles/header';
@import 'styles/sidebar';
@import 'cohorts/index';
