#cohort-board {
  height: 5rem;
  background: $lighthouse-blue;

  .inner-container {
    @include outer-container;
  }
}
.menu {
  margin-top: 1.6rem;
  margin-left: 2.297794117%;
  float: left;

  .menu-img {
    @include transition(all .3s ease-in-out);

    &:hover {
      @include filter(drop-shadow(-2px 1px 0px black) drop-shadow(0px 0px 10px $three-quarter-white));
      cursor: pointer;
    }
  }
}

.logo {
  float: right;
  width: 278px;

  @include media($small-screen-down) {
    width: 220px;
  }

  img {
    @include size(400 71);
    @include transition(all .3s ease-in-out);
    @include hardware-accel;

    &:hover {
      @include transform(scale(1.02));
      opacity: .8;
    }
  }
}
