#sidebar {
  visibility: hidden;
  display: none;
}

#jPanelMenu-menu {
  @include transition(all .5s ease-in-out);
  background: $sidebar-background;

  .sidebar-inner {
    margin: 0 auto;
    margin-top: 15%;
    width: 75%;

    .selector-email {
      margin: 0 auto;
      margin-bottom: 1em;
      width: 75%;
      display: block;
    }

    #form-cohort-id {
      visibility: hidden;
    }

    label {
      @include pad(.2em);
      width: 100%;
      display: inline-block;
    }

    select {
      margin-left: 5%;
    }

    textarea {
      resize: none;
    }

    input[type='submit'] {
      @include button(shiny, #0084a5);
      width: 75%;
      margin-top: .5em;
      margin-left: 9%;
    }
  }

  &.admin {
    .sidebar-inner {
      input[type='submit'] {
        margin-left: 12%;
        margin-top: .4em;
      }
    }

  }

  .selected-students {

    width: 75%;
    padding-left: 0;
    margin: 0 auto;

    .selected-title {
      font-size: 1em;
      margin: 1em auto .6em auto;
      text-decoration: underline;
    }

    .student-name {
      list-style-type: none;

    }
  }
}
