#sidebar {
  visibility: hidden;
  display: none;
}

#jPanelMenu-menu {
  @include transition(all .5s ease-in-out);
  background: $sidebar-background;

  .sidebar-inner {
    margin: 0 auto;
    margin-top: 15%;
    width: 75%;

    #form-cohort-id {
      visibility: hidden;
    }

    label {
      @include pad(.2em);
      width: 100%;
      display: inline-block;
    }

    select {
      margin-left: 5%;
    }

    textarea {
      resize: none;
    }

    input[type='submit'] {
      @include button(shiny, #0084a5);
      width: 75%;
      margin-top: .4em;
      margin-left: 9%;
    }
  }

  &.admin {
    .sidebar-inner input[type='submit'] {
      margin-left: 12%;
    }
  }
}
