/*-----------------------------------GRID----------------------------------------------*/
.student {
  @include span-columns(3);
  margin-top: 2em;

  @include media($desktop) {
    @include omega(4n);

    &:nth-child(4n) {
      padding-left: 2.35765%;
    }
  }

  @include media($tablet) {
    @include span-columns(4);
    @include omega(3n);

    &:nth-child(3n) {
      padding-left: 2.35765%;
    }
  }

  @include media($mobile) {
    @include span-columns(6);
    @include omega(2n);

    &:nth-child(2n) {
      padding-left: 2.35765%;
    }
  }

  @include media($mobile-sm) {
    @include span-columns(12);
  }

  .student-img {
    position: relative;
    margin: 0 auto;

    .img-cover {
      @include transition(all .5s ease-in-out);
      @include background(radial-gradient($lighthouse-blue 40%, $lighthouse-light-blue));
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      position: absolute;
      opacity: 0;
      top: 0;

      &:hover {
        opacity: .85;
      }

      .social-media-bubble {
        @include transition(all .2s ease-in-out);
        height: 50px;
        width: 50px;
        margin: 0 .2em;
        border-radius: 50%;
        background-color: $lighthouse-light-blue;
        opacity: .7;

        &.github {
          @include background-image(url('https://s3-us-west-2.amazonaws.com/lighthouselabs/github_icon.png'));
        }

        &.linkedin {
          @include background-image(url('https://s3-us-west-2.amazonaws.com/lighthouselabs/linkedin.png'));
        }

        &.stackoverflow {
          @include background-image(url("https://s3-us-west-2.amazonaws.com/lighthouselabs/stackoverflow.png"));
        }

        &:hover {
          opacity: 1;
        }
      }
    }
    &, .img-cover, img {
      @include size(195px 195px);
      border-radius: 50%;
    }
  }

  .inquire-box[type=checkbox] {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-top: .8em;
    background-image: url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);
  }

  h4 {
    margin: 1.65em 0;
  }

  p {
    color: $light-grey;
    min-height: 12em;
    line-height: 1.5em;
  }

}
