

#container {
  width: 100%;
  height: 100%;
  max-width: initial;
}

#welcome {

  .hero {
  	$hero-background: desaturate(darken($base-accent-color, 20), 30);
  	$hero-color: white;

  	background-image: url('https://s3-us-west-2.amazonaws.com/lighthouselabs/126.jpg');
  	background-color: $hero-background;
  	background-repeat: no-repeat;
  	background-position: top;
  	background-size: cover;
  	padding-bottom: 4em;

  	.hero-logo img {
  		height: 8em;
      margin-right: 2em;
  		margin-bottom: 1em;

      @include media($small-screen-down) {
        height: 6em;
        margin-right: 1em;
      }
  	}

  	.hero-inner {
  		@include outer-container;
  		@include clearfix;
  		padding: 3em;
  		margin: auto;
  		text-align: center;
  		color: $hero-color;

  		.hero-copy {
  			text-align: center;

  			h1 {
  				font-size: 1.4em;
  				margin-bottom: 1em;

  				@include media($large-screen) {
  					font-size: 1.8em;
  				}
  			}

  			p {
  				margin: auto;
  				margin-bottom: 3em;
  				font-weight: 200;
          line-height: 1.3em;

  				@include media($large-screen) {
  					font-size: 1.2em;
  					max-width: 40%;
  				}
        }
  		}
  	}
  }
}

#welcome .hero .hero-inner {
  #login > h2 {
    margin-top: 1em;
    margin-bottom: .5em;
  }

  .request-access {
    @include transition(all .4s ease-in-out);
    width: 175px;
    height: 40px;
    margin: 0 auto;
    margin-top: 2em;
    border: 1px solid #F16868;
    color: white;
    line-height: 2.3;
    border-radius: 3px;

    &:hover {
      background-color: rgba(255,255,255,.1);
    }
  }

  /* Morph Button: Default Styles */
  .morph-button {
  	position: relative;
  	display: block;
  	margin: 0 auto;
  }

  .content-style-form {
    .access-key {
      h3 {
        margin: 1em 0 4em 0;
      }

      input[type='text'] {
        color: black;
        width: 75%;
        margin: 0 auto;
      }

      input[type='submit'] {
        width: 50%;
        margin: 0 auto;
        margin-top: 6em;
      }
    }
    .icon-close {
      background-image: url('https://s3-us-west-2.amazonaws.com/lighthouselabs/circle-x-white.svg');
      background-size: 20px;
      display: block;
      margin: 5px 5px 0 auto;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .morph-button > button {
  	position: relative;
  	padding: 0 1em;
  	border: none;
  	background-color: $lighthouse-blue;
  	color: white;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	line-height: 40px;
    border: solid 1px rgba(255,255,255,.3);
  	overflow: hidden;

    &:hover {
      @include filter(brightness(125%));
    }
  }

  .morph-button.open > button {
  	pointer-events: none;
  }

  .morph-content {
  	pointer-events: none;
    border: solid 1px rgba(255,255,255,.3);
  }

  .morph-button.open .morph-content {
  	pointer-events: auto;
  }

  /* Common styles for overlay and modal type (fixed morph) */
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
  	width: 200px;
  	height: 50px;
  }

  .morph-button-fixed > button {
    @include transition(-webkit-filter .3s ease-in-out, filter .3s ease-in-out, opacity 0.1s 0.5s);
  	z-index: 1000;
  	width: 100%;
  	height: 100%;

    @include media($small-screen-down) {
      height: 65%;
    }
  }

  .morph-button-fixed.open > button {
    @include transition(opacity 0.1s);
  	opacity: 0;
  }

  .morph-button-fixed .morph-content {
    @include transition(opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
  	position: fixed;
  	z-index: 900;
  	opacity: 0;
  }

  .morph-button-fixed.open .morph-content {
  	opacity: 1;
  }

  .morph-button-fixed .morph-content > div {
    @include hardware-accel;
    @include transition(opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s);
  	visibility: hidden;
  	height: 0;
  	opacity: 0;
  }

  .morph-button-fixed.open .morph-content > div {
    @include hardware-accel;
    @include transition(opacity 0.3s 0.5s);
  	visibility: visible;
  	height: auto;
  	opacity: 1;
  }

  .morph-button-fixed.active > button {
  	z-index: 2000;
  }

  .morph-button-fixed.active .morph-content {
  	z-index: 1900;
  }
  /* Morph Button Style: Modal */
  .morph-button-modal::before {
    @include transition(opacity 0.5s);
  	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 800;
  	width: 100%;
  	height: 100%;
  	background: rgba(0,0,0,0.5);
  	content: '';
  	opacity: 0;
  	pointer-events: none;
  }

  .morph-button-modal.open::before {
  	opacity: 1;
  	pointer-events: auto;
  }

  .morph-button-modal.active::before {
  	z-index: 1800;
  }

  .morph-button-modal .morph-content {
    @include hardware-accel;
    @include transition(opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
  	overflow: hidden;
  }

  .morph-button-modal.open .morph-content {
    @include hardware-accel;
    @include transition(width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
  	top: 50% !important;
  	left: 50% !important;
  	margin: -210px 0 0 -300px;
  	width: 600px;
  	height: 420px;
  }

  /* Colors and sizes for individual modals */
  .morph-button.morph-button-modal-2 {
  	display: inline-block;
  	margin: 10px 15px;
  }

  .morph-button-modal-2 > button,
  .morph-button-modal-2 .morph-content {
    background-color: $lighthouse-blue;
    color: white;
  }

  .morph-button-modal-2.open .morph-content {
  	margin: -210px 0 0 -170px;
  	width: 340px;
  	height: 420px;
  }

  .morph-button-modal-2.open .morph-content > div {
  	@include transition(opacity 0.3s 0.3s);
  }

  /* Let's add some nice easing for all cases */
  .morph-button .morph-content,
  .morph-button.open .morph-content {
    @include transition-timing-function(cubic-bezier(0.7,0,0.3,1));
  }

  /* Helper classes */
  .noscroll {
  	overflow: hidden;
  }

  .morph-button-overlay.scroll .morph-content {
  	overflow-y: scroll;
  }

  .morph-button-sidebar.scroll .morph-content {
  	overflow: auto;
  }

  /* No JS fallback: let's hide the button and show the content */
  .no-js .morph-button > button {
  	display: none;
  }

  .no-js .morph-button {
  	margin: 10px 0;
  	float: none;
  }

  .no-js .morph-button,
  .no-js .morph-button .morph-content,
  .no-js .morph-button .morph-content > div {
    @include transform(none);
  	position: relative;
  	width: auto;
  	height: auto;
  	opacity: 1;
  	visibility: visible;
  	top: auto;
  	left: auto;
  	pointer-events: auto;
  }

  .no-js .morph-button .morph-content .icon-close {
  	display: none;
  }

  .no-transition {
  	@include transition(none !important);
  }

  /* Media Queries */

  @media screen and (max-width: 600px) {
  	.morph-button-modal.open .morph-content {
      @include hardware-accel;
      @include transition(width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s);
  		top: 0% !important;
  		left: 0% !important;
  		margin: 0;
  		width: 100%;
  		height: 100%;
  		overflow-y: scroll;
  	}
  }

  @include media($small-screen-down) {
  	.morph-button-fixed,
  	.morph-button-fixed .morph-content {
  		width: 200px;
  		height: 80px;
  	}

  	.morph-button-fixed > button {
  		font-size: 75%;
  	}
  }
}
