//      Employer Styles       //
//     ---=-=-=-=-=-=---     //
.cohorts {
  @include outer-container;

  .cohort-students {
    @include span-columns(12);

    .month {
      margin: .5em 0;
    }
  }
}

.students {
  @include span-columns(12);

  .student {


    @include media($large-screen-up) {
      @include omega(4n);
      @include span-columns(3);
    }

    @include media(max-width $large-screen min-width $medium-screen) {
      @include omega(3n);
      @include span-columns(4);
    }

    @include media($medium-screen-down) {
      @include omega(2n);
      @include span-columns(3);
    }

    @include media($small-screen-down) {
      @include span-columns(3);

      .student-text .student-name + .short-bio {
        min-height: 10em;
      }
    }

    .student-img {
      position: relative;
      margin: 0 auto;
      height: 195px;
      width: 195px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
      }

      .img-cover {
        @include transition(all .5s ease-in-out);
        @include background(radial-gradient($lighthouse-blue 40%, $lighthouse-light-blue));
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        position: absolute;
        opacity: 0;
        top: 0;

        &:hover {
          opacity: .85;
        }

        .social-media-bubble {
          @include transition(all .2s ease-in-out);
          height: 50px;
          width: 50px;
          margin: 0 .2em;
          border-radius: 50%;
          background-color: $lighthouse-light-blue;
          opacity: .7;

          &.github {
            @include background-image(url('https://s3-us-west-2.amazonaws.com/lighthouselabs/github_icon.png'));
          }

          &.linkedin {
            @include background-image(url('https://s3-us-west-2.amazonaws.com/lighthouselabs/linkedin.png'));
          }

          &:hover {
            opacity: 1;
          }
        }
      }
      &, .img-cover, img {
        @include size(195px 195px);
        border-radius: 50%;
      }
    }

    .switch-wrapper {
      width: 20%;
      margin: .75em auto;
    }

    .label-switch {
      margin-top: .5em;
      margin: 0 auto;
      $switch-width: 52px;
      $switch-padding: 2px;
      $switch-height: 25px;
      $switch-radius: $switch-height;
      $knob-height: $switch-height - ($switch-padding * 2);
      $knob-width: $knob-height;
      $knob-radius: $switch-height - ($switch-padding * 2);

      align-self: center;
      border-radius: $switch-radius;
      cursor: pointer;
      display: inline-block;
      height: $switch-height;
      position: relative;
      vertical-align: middle;
      width: $switch-width;
      @include box-sizing(border-box);

      input[type="checkbox"] {
        display: none;

      + .checkbox {
        background: #e5e5e5;
        border: none;
        border-radius: $switch-radius;
        cursor: pointer;
        height: $switch-height;
        margin: 0;
        padding: 0;
        position: relative;
        width: $switch-width;
        z-index: 0;
        @include box-sizing(border-box);
        @include transition(all 0.3s ease);

        &:before {
          background: white;
          border-radius: $switch-radius;
          content: ' ';
          height: $knob-radius;
          width: $switch-width - ($switch-padding * 2);
          z-index: 1;
          @include box-sizing(border-box);
          @include position(absolute, 2px 0 0 2px);
          @include transition(all 0.3s ease);
          @include transform(scale(1));
        }

        &:after {
          background: white;
          border-radius: $knob-radius;
          content: ' ';
          height: $knob-height;
          width: $knob-width;
          z-index: 2;
          box-shadow: 0 2px 5px rgba(0,0,0,0.4);
          @include position(absolute, 2px 0 0 2px);
          @include transition(all 0.3s ease);
        }
      }

      &:checked {
        + .checkbox {
          background: $blue;

            &:before {
              @include transform(scale(0));
            }

            &:after {
              left: $switch-width - $knob-width - ($switch-padding);
            }
          }
        }
      }
    }

    .student-text {
      .student-name {
        color: black;
      }

      .short-bio {
        min-height: 15em;
        color: $light-grey;
      }
    }
  }
}

#student {
  @include outer-container;

  > h1 {
    margin: .5em 0;
    text-align: center;
  }

  .img-wrapper {
    margin-top: .5em;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .social-media-url {
    .github {
      .github-img {
        @include filter(invert(100%));
      }
    }

    .github-img, .linkedin-img {
      width: 75px;
      height: 75px;
    }
  }
}
