 //  Global Student Styles   //
//  -=-=-=-=-=-=-=-=-=-=-=- //

.edit {
  margin: 0 2em;
  .student-name {
    text-align: center;
    margin: .5em 0;
  }

}
.edit, #student {
  .img-wrapper {
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 300px;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}



 //  Show Student Styles   //
//  --=-=-=-=-=-=-=-=-=-- //
#change-profile-action {
  width: 20%;

  .button {
    @include transition(all .3s ease-in-out);
    color: transparent;
    position: relative;
    top: 2em;
    font-size: 1.5em;
    font-weight: 200;

    &:hover {
      color: black;
    }

    &.edit {
      left: 2em;
      &:before {
        background-image: url(https://s3-us-west-2.amazonaws.com/lighthouselabs/pencil.svg);
      }
    }

    &.profile {
      left: 4em;
      &:before {
        background-image: url(https://s3-us-west-2.amazonaws.com/lighthouselabs/person.svg);
      }
    }

    &:before {
      content: '';
      background-size: 30px;
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 5px;
      left: -40px;
    }
  }
}

#student {
  .left-column {
    @include span-columns(4);
    margin-top: 1em;

    .img-wrapper {
      width: 250px;
      height: 250px;

      img {
        border-radius: 50%;
      }
    }

    hr {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .name {
      text-align: center;
      margin-bottom: .5em;
      font-weight: 300;
    }

    h4 {
      font-weight: 300;
    }

    span {
      margin-bottom: .5em;
      display: inline-block;
    }

    .student-fields {
      width: 65%;
      margin: 0 auto;
    }

    .social-media-url {
      margin-top: .5em;

      .github-img, .linkedin-img {
        @include transition(all .4s ease-in-out);
        width: 50px;
        height: 50px;
      }

      .github-img {
        margin-left: 1.15em;

        &:hover {
          @include transform(scale(1.2));
        }
      }

      .linkedin-img:hover {
        @include transform(scale(1.2));
      }
    }
  }

  .right-column {
    @include span-columns(8);
    height: 100%;
    position: relative;

    .inner-wrapper {
      margin-top: 20em;
      margin-right: 6em;
    }

    .working-city + span {
      font-size: 1em;
      font-weight: 400;
    }

    .bio, .working-city {
      font-weight: 400;

    }
  }
}


 //  Edit Student Styles   //
//  --=-=-=-=-=-=-=-=-=-- //

.form-wrapper {
  width: 60%;
  margin: 0 auto;

  label[for^='student_first'] {
    margin-top: 1em;
  }

  .update-button-wrapper {
    margin: 0 auto;
    width: 75%;

    & > input {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  h3 {
    display: inline-block;
  }

  .uploaders-wrapper {
    width: 63%;
    margin: 0 auto;
  }

  .uploader-wrapper {
    display: none;
  }

  .upload-label {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;

    @include media($large-screen-down) {
      margin-right: 1.5em auto;
    }

    @include media($medium-screen-down) {
      display: block;
      width: 77%;
    }

    @include media($small-screen-down) {
      width: 100%;
    }

    .upload {
      @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/cloud-upload.svg));
      @include transition(all .5s ease-in-out);

      &:hover {
        @include filter(brightness(150%));
      }
    }

    .download {
      @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/cloud-download.svg));

    }

    .resume-added {
      @include icon(url(https://s3-us-west-2.amazonaws.com/lighthouselabs/circle-check.svg));
      @include transition(all .5s ease-in-out);

      &:hover {
        @include filter(brightness(50%));
      }
    }
  }
}
